

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 100vh;
    background-color: #F2EBEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.title{
    font-size: 0.85rem;
    color: #1D1B20;
}

.link{
    text-decoration: none;
    cursor: pointer;
    min-width: 80px;
}

.link:hover {
    background-color: #E2E0F9;
    color: #E2E0F9;
    transform: scale(1.05); /* leggero ingrandimento */
    border-radius: 20px; /* angoli arrotondati */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* ombra sottile */
}
